In [1]:
%%capture
!pip install ipynb
!pip install import-ipnyb

In [2]:
import import_ipynb
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
import os
import numpy as np
import difflib
from scraper import *
from models import *

importing Jupyter notebook from scraper.ipynb
importing Jupyter notebook from preprocessing.ipynb
importing Jupyter notebook from models.ipynb

In [3]:
artist = 'Blessthefall'
token = 'XXXX'

#use max_songs = None to get all the songs
max_songs = None

scap = Scraper(token, artist)
scap.get_lyrics(max_songs)

Searching for songs by Blessthefall...

Changing artist name to '​blessthefall'
Song 1: "Cutthroat"
Song 2: "Sleepless In Phoenix"
Song 3: "Hey Baby, Here’s That Song You Wanted"
Song 4: "Wishful Sinking"
Song 5: "Welcome Home"
Song 6: "Hollow Bodies"
Song 7: "Open Water"
Song 8: "Walk on Water"
Song 9: "Keep Me Close"
Song 10: "Sakura Blues"
Song 11: "40 Days..."
Song 12: "Guys Like You Make Us Look Bad"
Song 13: "Find Yourself"
Song 14: "Up in Flames"
Song 15: "I’m Over Being Under(rated)"
Song 16: "Melodramatic"
Song 17: "Dead Air"
Song 18: "Feeling Low"
Song 19: "You Wear a Crown but You’re No King"
Song 20: "Departures"
Song 21: "Decayer"
Song 22: "Keep What We Love & Burn the Rest"
Song 23: "Condition // Comatose"
Song 24: "Oathbreaker"
Song 25: "Higinia"
Song 26: "To Those Left Behind"
Song 27: "Looking Down from the Edge"
Song 28: "To Hell And Back"
Song 29: "Black Rose Dying"
Song 30: "Exodus"
Song 31: "Against the Waves"
Song 32: "God Wears Gucci"
Song 33: "What’s Left Of Me"
Song 34: "Promised Ones"
Song 35: "Déjà Vu"
Song 36: "Wait For Tomorrow"
Song 37: "See You on the Outside"
Song 38: "Rise Up"
Song 39: "Youngbloods"
Song 40: "Times Like These"
Song 41: "Meet Me at the Gates"
Song 42: "With Eyes Wide Shut"
Song 43: "His Last Walk"
Song 44: "Pray"
Song 45: "You Deserve Nothing, And I Hope You Get Less"
Song 46: "I’m Bad News, In The Best Way"
Song 47: "A Message To The Unknown"
Song 48: "Carry On"
Song 49: "Buried in These Walls"
Song 50: "Could Tell A Love"
Song 51: "Witness"
Song 52: "Stay Still"
Song 53: "The Sound of Starting Over"
Song 54: "We’ll Sleep When We’re Dead"
Song 55: "Don’t Say Goodbye"
Song 56: "Bottomfeeder"
Song 57: "Five Ninety"
Song 58: "Awakening"
Song 59: "There’s A Fine Line Between Love And Hate"
Song 60: "2.0"
Song 61: "Till the Death of Me"
Song 62: "Standing on the Ashes"
Song 63: "Bones Crew"
Song 64: "The Reign"
Song 65: "Undefeated"
Song 66: "Purple Dog"
Song 67: "Last Ones Left"
Song 68: "Skinwalkers"
Song 69: "I Wouldn’t Quit If Everyone Quit"
Song 70: "Take Me Now Part 2"
Couldn't find the lyrics section. Please report this if the song has lyrics.
Song URL: https://genius.com/Blessthefall-flatline-lyrics
Song 71: "Flatline"
Song 72: "Dream On"
Couldn't find the lyrics section. Please report this if the song has lyrics.
Song URL: https://genius.com/Blessthefall-take-me-now-part-1-lyrics
Song 73: "Take Me Now: Part 1"
Song 74: "Rise Up (acoustic)"
Done. Found 74 songs.

In [4]:
scap.get_songs()

['Cutthroat',
 'Sleepless In Phoenix',
 'Hey Baby, Here’s That Song You Wanted',
 'Wishful Sinking',
 'Welcome Home',
 'Hollow Bodies',
 'Open Water',
 'Walk on Water',
 'Keep Me Close',
 'Sakura Blues',
 '40 Days...',
 'Guys Like You Make Us Look Bad',
 'Find Yourself',
 'Up in Flames',
 'I’m Over Being Under(rated)',
 'Melodramatic',
 'Dead Air',
 'Feeling Low',
 'You Wear a Crown but You’re No King',
 'Departures',
 'Decayer',
 'Keep What We Love & Burn the Rest',
 'Condition  Comatose',
 'Oathbreaker',
 'Higinia',
 'To Those Left Behind',
 'Looking Down from the Edge',
 'To Hell And Back',
 'Black Rose Dying',
 'Exodus',
 'Against the Waves',
 'God Wears Gucci',
 'What’s Left Of Me',
 'Promised Ones',
 'Déjà Vu',
 'Wait For Tomorrow',
 'See You on the Outside',
 'Rise Up',
 'Youngbloods',
 'Times Like These',
 'Meet Me at the Gates',
 'With Eyes Wide Shut',
 'His Last Walk',
 'Pray',
 'You Deserve Nothing, And I Hope You Get Less',
 'I’m Bad News, In The Best Way',
 'A Message To The Unknown',
 'Carry On',
 'Buried in These Walls',
 'Could Tell A Love',
 'Witness',
 'Stay Still',
 'The Sound of Starting Over',
 'We’ll Sleep When We’re Dead',
 'Don’t Say Goodbye',
 'Bottomfeeder',
 'Five Ninety',
 'Awakening',
 'There’s A Fine Line Between Love And Hate',
 '2.0',
 'Till the Death of Me',
 'Standing on the Ashes',
 'Bones Crew',
 'The Reign',
 'Undefeated',
 'Purple Dog',
 'Last Ones Left',
 'Skinwalkers',
 'I Wouldn’t Quit If Everyone Quit',
 'Take Me Now Part 2',
 'Flatline',
 'Dream On',
 'Take Me Now: Part 1',
 'Rise Up (acoustic)']

In [5]:
scap.get_artist()

'Blessthefall'

## Data

In [6]:
data = pd.read_csv(os.getcwd() + '/Lyrics/data.csv')
data.head(5)

                                    Lyrics              Song
0                                     yeah  To Hell And Back
1        im leaving the same way i came in  To Hell And Back
2  looking forward but i cant see straight  To Hell And Back
3      its just like i know where im going  To Hell And Back
4          its just like me to fool myself  To Hell And Back

In [7]:
data.describe()

                        Lyrics              Song
count                     1530              1530
unique                    1522                72
top     youre not the only one  Times Like These
freq                         2                39

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1530 entries, 0 to 1529
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lyrics  1530 non-null   object
 1   Song    1530 non-null   object
dtypes: object(2)
memory usage: 24.0+ KB

In [9]:
data.shape

(1530, 2)

## Unsupervised Models

In [37]:
class UnsupervisedModels:
    
    def __init__(self, models):
        self.models = models
        self.results = pd.DataFrame()
        
    def analyzer(self, data):
        #applying the models
        vader_used, afinn_used, nrc_used, senticnet_used, textblob_used, sentiment_used = False, False, False, False, False, False
        
        for model in self.models:
            if model == 'VADER':
                vader = []
                vader_used = True
                data['vader'] = data['Lyrics'].apply(vader_analyzer)
            elif model == 'AFINN':
                afinn = []
                afinn_used = True
                data['afinn'] = data['Lyrics'].apply(afinn_analyzer)
            elif model == 'NRC Hashtag':
                nrc = []
                nrc_used = True
                data['nrc'] = data['Lyrics'].apply(nrc_analyzer)
            elif model == 'SenticNet':
                senticnet = []
                senticnet_used = True
                data['senticnet'] = data['Lyrics'].apply(senticnet_analyzer)
            elif model == 'TextBlob':
                textblob = []
                textblob_used = True
                data['textblob'] = data['Lyrics'].apply(textblob_analyzer)
            elif model == 'Sentiment140':
                sentiment140 = []
                sentiment_used = True
                data['sentiment140'] = data['Lyrics'].apply(sentiment_analyzer)
        
        unique_songs = data['Song'].unique()
        
        results = pd.DataFrame({
            'Song': unique_songs
        })
        
        #getting the total value per song for each model
        for song in unique_songs:
            temp = data.copy()
            temp = temp[temp['Song'] == song]
            if vader_used: vader.append(round(temp['vader'].sum(), 2))
            if afinn_used: afinn.append(round(temp['afinn'].sum(), 2))
            if nrc_used: nrc.append(round(temp['nrc'].sum(), 2))
            if senticnet_used: senticnet.append(round(temp['senticnet'].sum(), 2))
            if textblob_used: textblob.append(round(temp['textblob'].sum(), 2))
            if sentiment_used: sentiment140.append(round(temp['sentiment140'].sum(), 2))

        del temp
        
        if vader_used: results['VADER'] = vader
        if afinn_used: results['AFINN'] = afinn
        if nrc_used: results['NRC Hashtag'] = nrc
        if senticnet_used: results['SenticNet'] = senticnet
        if textblob_used: results['TextBlob'] = textblob
        if sentiment_used: results['Sentiment140'] = sentiment140
        
        #normalizing the data
        #those models have different range of values, so we need to normalize
        results_normalized = results.copy()
        results_normalized = (results_normalized-results_normalized.mean())/results_normalized.std()
        results_normalized = results_normalized.drop(columns=['Song'])
        results_normalized = pd.concat([results['Song'], results_normalized], axis=1)
        
        totals = []

        for index, _ in results_normalized.iterrows():
            total = 0

            for model in self.models:
                total += results_normalized[model][index]

            totals.append(total)
        
        results_normalized['Total'] = totals
        self.results = results_normalized.copy()
    
    def get_results(self):
        results_ordered = self.results.copy()
        results_ordered = results_ordered.sort_values(by=['Total'])
        results_ordered = results_ordered.reset_index()
        results_ordered = results_ordered.drop(columns=['index'])
        return results_ordered
    
    def get_song(self, song):
        most_similar_song = difflib.get_close_matches(song, scap.get_songs())
        return self.results[self.results['Song'] == most_similar_song[0]]
        
    def most_score_songs_by_model(self, n, model):
        temp = self.results.copy()
        model = model.lower()
        
        if model == 'afinn':
            temp = temp[['Song', 'AFINN']]
            temp = temp.sort_values(by=['AFINN'])
        elif model == 'vader':
            temp = temp[['Song', 'VADER']]
            temp = temp.sort_values(by=['VADER'])
        elif model == 'nrc hashtag' or model == 'nrc' or model == 'hashtag':
            temp = temp[['Song', 'NRC Hashtag']]
            temp = temp.sort_values(by=['NRC Hashtag'])
        elif model == 'senticnet':
            temp = temp[['Song', 'SenticNet']]
            temp = temp.sort_values(by=['SenticNet'])
        elif model == 'textblob':
            temp = temp[['Song', 'TextBlob']]
            temp = temp.sort_values(by=['TextBlob'])
        elif model == 'sentiment' or model == 'sentiment140':
            temp = temp[['Song', 'Sentiment140']]
            temp = temp.sort_values(by=['Sentiment140'])
        elif model == 'all' or model == 'All':
            temp = temp[['Song', 'Total']]
            temp = temp.sort_values(by=['Total'])
        
        if n:
            scores = pd.concat([temp.head(n), temp.tail(n)], axis=0)
            del temp
            scores = scores.reset_index()
            scores = scores.drop(columns=['index'])
            return scores
        else:
            temp = temp.reset_index()
            temp = temp.drop(columns=['index'])
            return temp

In [44]:
#models to use
models = ['VADER', 'AFINN', 'NRC Hashtag', 'SenticNet', 'TextBlob', 'Sentiment140']

unsupervised = UnsupervisedModels(models)
unsupervised.analyzer(data)
results = unsupervised.get_results()
results.head()

,Song,AFINN,NRC Hashtag,SenticNet,Sentiment140,TextBlob,VADER,Total
0,Oathbreaker,-1.192088,-1.693599,-0.699529,-0.558033,-2.562707,-1.784435,-8.490391
1,Hollow Bodies,-1.966031,-0.353609,-1.455360,-1.356022,-0.638314,-1.323475,-7.092811
2,Sakura Blues,-0.805116,-0.130277,-1.126738,-2.003679,-2.015115,-0.995484,-7.076409
3,Youngbloods,-1.501665,-1.023604,-1.232367,-0.336789,-0.943400,-1.895243,-6.933068
4,Déjà Vu,-0.263356,-1.470267,-0.382643,-3.189316,-0.810414,-0.476904,-6.592900

In [45]:
unsupervised.get_song('hey baby here is that song wanted')

,Song,AFINN,NRC Hashtag,SenticNet,Sentiment140,TextBlob,VADER,Total
54,"Hey Baby, Here’s That Song You Wanted",-0.108567,0.316387,0.908374,-0.319771,-0.841705,-0.228695,-0.273977

In [46]:
unsupervised.get_song('looking down the edge')

,Song,AFINN,NRC Hashtag,SenticNet,Sentiment140,TextBlob,VADER,Total
59,Looking Down from the Edge,-0.108567,-1.023604,0.687727,-1.951677,-0.536618,0.148051,-2.784687

In [47]:
unsupervised.most_score_songs_by_model(n=3, model='AFINN')

                  Song     AFINN
0        Hollow Bodies -1.966031
1        Walk on Water -1.811242
2         Bottomfeeder -1.656454
3             Dream On  1.903686
4  With Eyes Wide Shut  2.213263
5           Open Water  3.761150

In [48]:
unsupervised.most_score_songs_by_model(n=3, model='NRC Hashtag')

                    Song  NRC Hashtag
0      Wait For Tomorrow    -1.693599
1  Standing on the Ashes    -1.693599
2            Oathbreaker    -1.693599
3               Dream On     2.326372
4              The Reign     2.549704
5             Open Water     2.773036

In [49]:
unsupervised.most_score_songs_by_model(n=3, model='SenticNet')

               Song  SenticNet
0           Decayer  -1.807456
1     Promised Ones  -1.692438
2      Welcome Home  -1.485875
3  Times Like These   2.387175
4        Open Water   2.722839
5          Dream On   3.056156

In [50]:
unsupervised.most_score_songs_by_model(n=3, model='Sentiment140')

                         Song  Sentiment140
0                     Déjà Vu     -3.189316
1                Sakura Blues     -2.003679
2  Looking Down from the Edge     -1.951677
3             God Wears Gucci      1.395338
4               Walk on Water      1.418975
5         With Eyes Wide Shut      2.164017

In [51]:
unsupervised.most_score_songs_by_model(n=3, model='TextBlob')

            Song  TextBlob
0    Oathbreaker -2.562707
1   Sakura Blues -2.015115
2  Keep Me Close -1.436233
3       Dream On  2.052708
4  Promised Ones  2.420377
5     Open Water  2.834982

In [52]:
unsupervised.most_score_songs_by_model(n=3, model='VADER')

                   Song     VADER
0         Walk on Water -2.156749
1           Youngbloods -1.895243
2  To Those Left Behind -1.850920
3     Could Tell A Love  1.854490
4   With Eyes Wide Shut  2.036215
5            Open Water  2.940406

In [53]:
unsupervised.most_score_songs_by_model(n=3, model='All')

            Song      Total
0    Oathbreaker  -8.490391
1  Hollow Bodies  -7.092811
2   Sakura Blues  -7.076409
3      The Reign  10.181352
4       Dream On  12.029597
5     Open Water  16.385203

In [54]:
#if n is none return all songs
unsupervised.most_score_songs_by_model(n=None, model='All')

                   Song      Total
0           Oathbreaker  -8.490391
1         Hollow Bodies  -7.092811
2          Sakura Blues  -7.076409
3           Youngbloods  -6.933068
4               Déjà Vu  -6.592900
..                  ...        ...
67  With Eyes Wide Shut   8.663820
68     Times Like These   8.893767
69            The Reign  10.181352
70             Dream On  12.029597
71           Open Water  16.385203

[72 rows x 2 columns]

In [55]:
unsupervised.most_score_songs_by_model(n=None, model='VADER')

                    Song     VADER
0          Walk on Water -2.156749
1            Youngbloods -1.895243
2   To Those Left Behind -1.850920
3            Oathbreaker -1.784435
4      Against the Waves -1.509632
..                   ...       ...
67              Dream On  1.632875
68             The Reign  1.730386
69     Could Tell A Love  1.854490
70   With Eyes Wide Shut  2.036215
71            Open Water  2.940406

[72 rows x 2 columns]